<h1>Data</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <!-- Add more table headers for other fields -->
    </tr>
  </thead>
  <tbody>
    <% data.forEach(item => { %>
    <tr>
      <td><%= item.id %></td>
      <td><%= item.name %></td
